nav, .page-footer {
	background: #803c42;
}

.carousel .carousel-item {
	width: 600px;
}
body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}
main{
	flex:1 0 auto;
}
.footer-copyright {
	background:#ab474c !important;
}